<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'TagSelect',

	props: {
		node: {
			type: Node,
			required: true
		},
		selected: {
			type: Array,
			default: () => []
		}
	},

	emits: ['select'],

	data: () => ({
		store: useMainStore(),
	}),

	computed: {
		tags() {
			return this.store.byType(this.$graphConfig.tagRoot)
		},
		children() {
			return this.tags.filter(e => {
				let p = e.getOne(this.$graphConfig.parent);
				if (p instanceof Node) {
					return p.getId() === this.node.getId()
				}
				return false;
			})
		},
		selectable() {
			return this.node.getLiteral(this.$graphConfig.selectable)
		},
		isSelected() {
			return this.selected.includes(this.node.getId())
		}
	},

	methods: {
		onChange() {
			this.$emit('select', [this.node.getId(), !this.isSelected])
		}
	}
})
</script>

<template>
	<div>
		{{ $filters.label(node) }}
		<el-icon v-show="selectable" @click="onChange">
			<Plus v-show="!isSelected"/>
			<Minus v-show="isSelected" />
		</el-icon>
		<ul v-if="children.length > 0">
			<li v-for="child of children"
				:key="child.getId()"
			>
				<layer :node="child" 
					:selected="selected"
					@select="e => $emit('select', e)"
				/>
			</li>
		</ul>
	</div>
</template>
