<script lang="ts">
import { useMainStore } from '@/stores/document';
import { tagsToTree } from '@/util/tags';
import { Collection, Node } from 'starqld';
import { defineComponent } from 'vue';
import layerVue from './layer.vue';

export default defineComponent({
    name: "TagSelect",

    components: { 
		layerVue 
	},

    props: {
        modelValue: {
            type: Array,
            required: true
        },
        allowMultiple: {
            type: Boolean,
            default: () => false
        }
    },

    emits: ["update:modelValue"],

    data: () => ({
        store: useMainStore(),
        copy: [] as string[],
        open: false
    }),

    computed: {
		tree() {
			return tagsToTree()
		}
    },

	watch: {
		modelValue() {
			this.init()
		}
	},

	created() {
		this.init()
	},

    methods: {
        init() {
			this.copy = this.modelValue.map((e: any) => e.getId())
		},
		onSelect([id, add]) {
			// console.log('onSelect', id, add);
			let idx = this.copy.indexOf(id);
			if (idx > -1 && !add) {
				this.copy.splice(idx, 1)
			} else if (idx < 0 && add) {
				this.copy.push(id)
			}
            this.$emit("update:modelValue", new Collection().concat(...this.copy.map(id => this.store.byId(id))));
		},
		onChange(data, checked, indeterminate) {
			// console.log('onChange', { data, checked, indeterminate })
			if (indeterminate || data.disabled) return;
			this.onSelect([data.value, checked])
		}
    },

})
</script>

<template>
	<el-button @click="open = true">
		Select Tags
	</el-button>
	<el-dialog
		v-model="open"
		title="Select Node"
	>
		<el-tree
			:data="tree"
			node-key="value"
			default-expanded-all
			show-checkbox
			@check-change="onChange"
		/>
	</el-dialog>
</template>
