<script lang="ts">
import { useMainStore } from '@/stores/document';
import { useLensStore } from '@/stores/lens';
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';
import viewAttributesVue from '../node/view-attributes.vue';


export default defineComponent({
	name: 'Card',

	components: {
		viewAttributesVue,
	},

	props: {
		node: {
			type: Node,
			required: true
		}
	},

	data: () => ({
		docStore: useMainStore(),
		lensStore: useLensStore()
	}),

	mounted() {
		// this.$nextTick(() => this.setSize());
		setTimeout(() => {
			this.setSize()
		}, 200)
	},
	// updated() {
	// 	this.$nextTick(() => this.setSize())
	// },
	methods: {
		setSize() {
			let rect = this.$el.getBoundingClientRect()
			// console.log('update height', rect, this.$el);
			this.lensStore.setSize(this.node, rect);
		}
	}

	
})
</script>

<template>
	<el-card class="node-card">
		<template #header>
			{{ $filters.label(node) }}
		</template>
		{{ $filters.label(docStore.byId(node.getType())) }}
		-
		<router-link :to="{ name: 'lens', query: { focus: node.getId() } }">Focus</router-link>
		-
		<router-link :to="{ name: 'node', params: { id: node.getId() } }">Edit</router-link>

		<div class="tagList" style="display: inline-block;">
			<el-tag
				v-for="tag of node.getAll($graphConfig.tagProp)"
				:key="tag.getId()"
			>
				{{ $filters.label(tag) }}
			</el-tag>
		</div>

		<view-attributes-vue :node="node" />
	</el-card>
</template>
