<script lang="ts">
import { defineComponent, type CSSProperties } from 'vue';

export default defineComponent({
	name: 'draggable',

	props: {
		position: {
			type: Object,
			default: () => ({ x: 0, y: 0 })
		}
	},

	data: () => ({
		x: 0,
		y: 0
	}),

	emits: ['dragEnd'],

	computed: {
		style(): CSSProperties {
			return {
				position: 'absolute',
				left: this.x + 'px',
				top: this.y + 'px'
			}
		}
	},

	watch: {
		position: {
			deep: true,
			handler() {
				this.x = this.position.x;
				this.y = this.position.y;
			}
		}
	},

	created() {
		this.x = this.position.x;
		this.y = this.position.y;
	},

	methods: {
		onDrag(e: DragEvent) {
			// console.log('onDrag', e);
			this.x = e.x;
			this.y = e.y;
		},
		onDragStart(e) {
			// console.log('onDragStart', e);

		},
		onDragEnd(e) {
			// console.log('onDragEnd', {
			// 	evt: e,
			// 	parent: e.target.parentElement.getBoundingClientRect(),
			// 	elem: e.target.getBoundingClientRect()
			// });
			this.x = e.x - e.target.parentElement.getBoundingClientRect().left - e.target.getBoundingClientRect().width/2
			this.y = e.y - e.target.parentElement.getBoundingClientRect().top - e.target.getBoundingClientRect().height/2

			this.$emit('dragEnd', { x: this.x, y: this.y })
		}
	}
})
</script>

<template>
	<div class="draggable" :style="style" @dragstart="onDragStart" @dragend="onDragEnd" draggable="true">
		<slot>
			<p>Draggable</p>
		</slot>
	</div>
</template>
