<script lang="ts">
import { useMainStore } from '@/stores/document';
import { useLensStore } from '@/stores/lens';
import type { Node } from 'starqld';
import { defineComponent } from 'vue';
import draggableVue from './draggable.vue';
import cardVue from './card.vue';

export default defineComponent({
	name: 'LensMain',

	components: {
		draggableVue,
		cardVue
	},

	props: {
		focus: {
			type: String,
			required: true
		}
	},

	data: () => ({
		docStore: useMainStore(),
		lensStore: useLensStore()
	}),

	computed: {
		focusNode(): Node {
			return this.docStore.byId(this.focus)
		},
		outgoingLinks() {
			return this.docStore.getOutgoingNodes(this.focusNode)
		},
		incomingLinks() {
			return this.docStore.getIncomingLinks(this.focusNode)
		},
		allNodes(): Node[] {
			return Array.from(new Set([
				this.focusNode,
				...this.incomingLinks.map(e => e.from),
				...this.outgoingLinks.map(e => e.target)
			]))
		},
		linkPositions() {
			return this.lensStore.linkPositions
		}
	},

	mounted() {
		this.init()
	},

	watch: {
		focus() {
			this.init();
		}
	},

	methods: {
		init() {
			let container: HTMLElement = this.$refs.container as any;
			let containerRect = container.getBoundingClientRect()
			this.lensStore.init(containerRect.width, containerRect.height, this.focus);
			// this.allNodes.forEach(node => {
			// 	this.lensStore.setNodePosition(node, { x: 0, y: 0 })
			// })
			// this.lensStore.setNodePosition(this.focusNode, { x: containerRect.width/2, y: containerRect.height/2 })
			// console.log(this.lensStore)
			this.incomingLinks.forEach(({ from }, i) => {
				this.lensStore.setNodePositionLogical({
					node: from,
					column: 0,
					position: i
				})
			})
			this.outgoingLinks.forEach(({ target }, i) => {
				this.lensStore.setNodePositionLogical({
					node: target,
					column: 2,
					position: i
				})
			})
			this.lensStore.setNodePositionLogical({
				node: this.focusNode,
				column: 1,
				position: 0
			})
		}
	}
})
</script>

<template>
	<div id="DragCanvas" ref="container">
		<svg
			:width="lensStore.containerWidth" 
			:height="lensStore.containerHeight"
			style="position: absolute; overflow: hidden;"
		>
			<line 
				v-for="(lp, i) of linkPositions"
				:key="i"
				:x1="lp.from.x" 
				:y1="lp.from.y"
				:x2="lp.to.x"
				:y2="lp.to.y"
				stroke="#aaaaaa"
			/>
		</svg>
		<draggable-vue
			v-for="node of allNodes"
			:key="node.getId()"
			:position="lensStore.positionForNode(node)"
			@drag-end="(pos) => lensStore.setNodePosition(node, pos)"
		>
			<card-vue :node="node" />
		</draggable-vue>
	</div>
</template>

<style>
.node-card {
	width: 360px;
}
</style>
