<script lang="ts">
import { defineComponent } from 'vue';
import { Node } from 'starqld';
import { useMainStore } from '@/stores/document';

export default defineComponent({
	name: 'EntityListView',

	components: {
	},

	data() {
		const store = useMainStore();
		return {
			store,
		};
	},

	computed: {
		listType(): string {
			let raw = this.$route.query.type;
			if (Array.isArray(raw)) return raw[0] || '';
			else return raw || '';
		},
		listEntries(): Node[] {
			let list = this.store.byType(this.listType).slice(0);
			return list;
		},
		typeObj() {
			return this.store.byId(this.listType)
		}
	},

	methods: {
		addNew() {
			let doc = this.store.addBlankNode()
			doc.setType(this.listType);
			this.$router.push({
				name: 'entity', 
				query: { id: doc.getId(), type: doc.getType() }
			})
		}
	}
	
})
</script>

<template>
	<main>
		<el-page-header @back="$router.back()">

			<template #content>
				<h1>{{ $filters.label(typeObj) }}</h1>
			</template>

			<template #extra>
				<el-button @click="addNew">Add</el-button>
			</template>

		</el-page-header>
		
		<ul>
			<li v-for="entry of listEntries"
				:key="entry.getId()"
			>
				<router-link :to="{ name: 'entity', query: { id: entry.getId(), type: entry.getType() }}">
					{{ $filters.label(entry) }}
				</router-link>
			</li>
		</ul>
		
	</main>
</template>
