<script lang="ts">
import { defineComponent } from 'vue';
import { useMainStore } from '@/stores/document';
import attributeFormVue from '@/components/meta/attribute-form.vue';
import tagFormVue from '@/components/meta/tag-form.vue';
import typeFormVue from '@/components/meta/type-form.vue';
import linkFormVue from '@/components/meta/link-form.vue';

export default defineComponent({
	name: 'EntityView',

	components: {
		attributeFormVue,
		tagFormVue,
		linkFormVue,
		typeFormVue
	},

	data() {
		return {
			store: useMainStore(),
		};
	},

	computed: {
		id(): string {
			let raw = this.$route.query.id;
			if (Array.isArray(raw)) return raw[0] || '';
			else return raw || '';
		},
		type(): string {
			let raw = this.$route.query.type;
			if (Array.isArray(raw)) return raw[0] || '';
			else return raw || '';
		},
		entity() {
			try {
				let n = this.store.byId(this.id);
				return n;
			} catch (e) {
				return null;
			}
		}
	},

	methods: {
		onSave(entity) {
			this.store.updateNode(entity);
		}
	}

})
</script>

<template>
	<main>
		<el-page-header @back="$router.back()">
			<template #content>
				<h1>Entity</h1>
			</template>
		</el-page-header>
		<template v-if="entity">
			<attribute-form-vue
				:modelValue="entity"
				@update:modelValue="onSave"
				v-if="type === 'http://a.cryptic.link/owl/root/attribute/user'"
			/>
			<type-form-vue
				:modelValue="entity"
				@update:modelValue="onSave"
				v-else-if="type === 'http://a.cryptic.link/owl/root/type'"
			/>
			<tag-form-vue
				:modelValue="entity"
				@update:modelValue="onSave"
				v-else-if="type === 'http://a.cryptic.link/owl/root/tag'"
			/>
			<link-form-vue
				:modelValue="entity"
				@update:modelValue="onSave"
				v-else-if="type === 'http://a.cryptic.link/owl/root/link'"
			/>
			<span v-else>Unknown type: {{ type }}</span>
		</template>
		<span v-else>unknown entity: {{  id }}</span>
		
	</main>
</template>
