<script lang="ts">
import { defineComponent } from 'vue';
import lensVue from '@/components/lens/lens.vue';
import { useMainStore } from '@/stores/document';

export default defineComponent({
	name: 'HomeView',

	components: {
		lensVue
	},

	data: () => ({
		store: useMainStore()
	}),

	computed: {
		focus(): string {
			let raw = this.$route.query.focus;
			return (Array.isArray(raw) ? raw[0] : raw) || ''
		},
		focusNode() {
			try {
				return this.store.byId(this.focus)
			} catch (e) {
				return null;
			}
		},
	}
	
})
</script>

<template>
	<lens-vue :focus="focus" v-if="focusNode" />
</template>
