<script lang="ts">
import { defineComponent } from 'vue';
import * as FileOps from '@/util/file';

export default defineComponent({
	name: 'LoadView',

	data: () => ({
		meta: FileOps.getMetaInfo(),
		newSlotLabel: ''
	}),

	created() {
		this.initMeta()
	},

	methods: {
		async addNewSlot() {
			await FileOps.save(true, this.newSlotLabel)
			this.initMeta()
		},
		async save() {
			await FileOps.save(false);
			this.initMeta()
		},
		initMeta() {
			this.meta = JSON.parse(JSON.stringify(FileOps.getMetaInfo()))
		},
		remove(row) {
			console.log('remove', row)
			FileOps.remove(row.slot);
			this.initMeta();
		},
		async load(row) {
			await FileOps.load(row.slot);
			this.initMeta();
		}
	}
	
})
</script>

<template>

	<el-page-header @back="$router.back()">
		<template #content>
			<h1>Save & Load</h1>
		</template>
		<template #extra>
			<el-button @click="save" :disabled="meta.currentSlot < 0">Save</el-button>
			- 
			<el-input placeholder="Label" v-model="newSlotLabel" style="width: 60px"/>
			<el-button @click="addNewSlot" :disabled="newSlotLabel.length === 0">New Slot</el-button>
		</template>
	</el-page-header>

	<el-table :data="meta.slotInfo">
		<el-table-column prop="label" label="Label" />
		<el-table-column label="Status">
			<template #default="scope">
				<el-tag v-if="scope.row.slot === meta.currentSlot">Active</el-tag>
			</template>
		</el-table-column>
		<el-table-column prop="lastSaved" label="Last Saved">
			<template #default="scope">
				{{ new Date(scope.row.lastSaved).toLocaleDateString() }}
				{{ new Date(scope.row.lastSaved).toLocaleTimeString() }}
			</template>
		</el-table-column>
		<el-table-column label="Actions">
			<template #default="scope">
				<el-button @click="load(scope.row)">Load</el-button>
				<el-button @click="remove(scope.row)">Remove</el-button>
			</template>
		</el-table-column>
	</el-table>

</template>
