<script lang="ts">
import { defineComponent } from 'vue';
import type { Node } from 'starqld';
import { useMainStore } from '@/stores/document';
import togglePinButtonVue from '@/components/pins/toggle-pin-button.vue';
import { tagsToTree } from '@/util/tags';

export default defineComponent({
	name: 'ListView',

	components: {
		togglePinButtonVue
	},

	data() {
		const store = useMainStore();
		return {
			store,
			typeFilter: '',
			sortAsc: false,
			sortAttribute: '',
			tagFilter: [] as string[]
		};
	},

	computed: {
		listEntries(): Node[] {
			let list = this.store.getUserContent(this.typeFilter).slice(0);
			if (this.tagFilter.length) {
				list = list.filter(e => {
					return e.getAll(this.$graphConfig.tagProp)
						.find(e => this.tagFilter.includes(e.getId()));
				});
			}
			if (this.sortAttribute) {
				let attrib = this.store.byId(this.sortAttribute);
				let target = attrib.getOneNode(this.$graphConfig.attributeTarget).getId();
				list.sort((a, b) => {
					let va = a.getLiteral(target);
					let vb = b.getLiteral(target);
					let asc = this.sortAsc ? 1 : -1;
					if (va > vb) return asc;
					if (vb > va) return asc*-1;
					return 0;
				});
			}
			return list;
		},
		listOfTypes() {
			return this.store.byType(this.$graphConfig.typeRoot || '')
		},
		sortOptions() {
			return this.store.getUserContent(this.$graphConfig.attributeRoot)
				.filter(e => e.getLiteral(this.$graphConfig.sortable));
		},
		tagTree() {
			return tagsToTree();
		}
	},

	watch: {
		sortOptions(nv) {
			if (!this.sortAttribute && nv.length) {
				this.sortAttribute = nv[0].getId()
			}
		}
	},

	methods: {
		onAdd() {
			if (!this.typeFilter) return;
			let node = this.store.addBlankNode('');
			node.setType(this.typeFilter);
			this.$router.push({ name: 'node', params: { id: node.getId() } })
		}
	}
	
})
</script>

<template>
	<main>
		<el-page-header @back="$router.back()">

			<template #content>
				<h1>Item List</h1>
			</template>

			<template #extra>

				<el-tree-select
					v-model="tagFilter"
					:data="tagTree"
					show-checkbox
					multiple
					placeholder="Filter by Tags"
				/>
				<el-select v-model="typeFilter" 
					placeholder="Filter by Type"
					clearable
				>
					<el-option
						v-for="type of listOfTypes"
						:key="type.getId()"
						:value="type.getId()"
						:label="$filters.label(type)"
					/>
				</el-select>

				<el-button 
					@click.prevent="onAdd"
					:disabled="!typeFilter"
				>
					Add Entry
				</el-button>

				<el-select v-model="sortAttribute">
					<el-option
						v-for="opt of sortOptions"
						:key="opt.getId()"
						:value="opt.getId()"
						:label="$filters.label(opt)"
					/>
				</el-select>
				<el-switch v-model="sortAsc" active-text="⭱" inactive-text="⭳" style="margin: 0 1em;" />
			</template>
		</el-page-header>

		<el-table :data="listEntries">
			<el-table-column label="Title">
				<template #default="scope">
					{{ $filters.label(scope.row) }}
				</template>
			</el-table-column>
			<el-table-column label="Type">
				<template #default="scope">
					{{ $filters.label(store.byId(scope.row.getType())) }}
				</template>
			</el-table-column>
			<el-table-column label="Pin">
				<template #default="scope">
					<toggle-pin-button-vue :id="scope.row.getId()" />
				</template>
			</el-table-column>
			<el-table-column label="Created">
				<template #default="scope">
					{{ $filters.dateTime(scope.row.getLiteral($graphConfig.created)) }}
				</template>
			</el-table-column>
			<el-table-column label="Updated">
				<template #default="scope">
					{{ $filters.dateTime(scope.row.getLiteral($graphConfig.updated)) }}
				</template>
			</el-table-column>
			<el-table-column label="Actions">
				<template #default="scope">
					<router-link :to="{ name: 'node', params: { id: scope.row.getId() }}">
						Edit
					</router-link>
					-
					<router-link :to="{ name: 'lens', query: { focus: scope.row.getId() }}">
						Lens
					</router-link>
				</template>
			</el-table-column>
		</el-table>
		
	</main>
</template>
