<script lang="ts">
import { defineComponent } from 'vue';
import nodeForm from '@/components/node/form.vue';
import { useMainStore } from '@/stores/document';
import { usePinStore } from '@/stores/pinlist';

export default defineComponent({
	name: 'NodeView',

	components: {
		nodeForm
	},

	data() {
		return {
			store: useMainStore(),
			pinStore: usePinStore()
		};
	},

	computed: {
		nodeId(): string {
			let raw = this.$route.params.id;
			if (Array.isArray(raw)) return raw[0];
			else return raw;
		},
		node() {
			try {
				let n = this.store.byId(this.nodeId);
				return n;
			} catch (e) {
				return null;
			}
		}
	},

	mounted() {
		if (this.node) {
			this.pinStore.addLastViewed(this.nodeId)
		}
	},

	methods: {
		onChange() {
			this.pinStore.addLastSaved(this.nodeId);
		}
	}

})
</script>

<template>
	<main>
		<el-page-header @back="$router.back()">
			<template #content>
				<h1>Item</h1>
			</template>
		</el-page-header>
		<node-form 
			v-model="node" 
			v-if="nodeId && node" 
			:can-edit="true" 
			@change="onChange"
		/>
	</main>
</template>
