<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';
import nodeAttributeVue from './node-attribute.vue';
import selectNodeVue from '../pins/select-node.vue';
import togglePinButtonVue from '../pins/toggle-pin-button.vue';
import tagSelectVue from '@/components/tag/select.vue'

export default defineComponent({
	name: 'ListEntry',

	components: {
		nodeAttributeVue,
		selectNodeVue,
		togglePinButtonVue,
		tagSelectVue
	},

	props: {
		modelValue: {
			type: Node,
			required: true
		},
		canEdit: {
			type: Boolean,
			default: () => false
		}
	},

	emits: ['update:modelValue', 'change'],

	data() {
		return {
			store: useMainStore(),
			label: '',
			props: {} as Record<string, Literal>,
			links: [] as string[][],
			incomingLinks: [] as { prop: string; from: Node; }[],
			tags: [] as Node[]
		}
	},

	computed: {
		type() {
			return this.store.byId(this.modelValue.getType())
		},
		attributes(): Node[] {
			return this.type.getAll(this.$graphConfig.hasAttribute)
		},
		attributeTargets(): string[] {
			return this.attributes.map(e => {
				return e.getOneNode(this.$graphConfig.attributeTarget).getId();
			});
		},
		linkOptions(): string[] {
			let user = this.store.byType(this.$graphConfig.linkRoot);
			return user.map(e => e.getId());
		}
	},

	watch: {
		modelValue() {
			this.init();
		}
	},

	created() {
		this.init();
	},

	methods: {
		init() {
			this.props = this.initAttributes();
			this.links = this.initLinks();
			this.incomingLinks = this.initIncomingLinks();
		},
		initAttributes(): Record<string, any> {
			let res = {};
			console.log('init', this);
			for (let attrib of this.attributes) {
				let target = attrib.getOneNode(this.$graphConfig.attributeTarget);
				let id = target.getId();
				if (!(id in this.modelValue)) {
					res[id] = new Literal({});
				} else {
					res[id] = this.modelValue[id];
				}
			}
			this.label = this.modelValue.getLiteral(this.$graphConfig.labelProp) || '';
			this.tags = this.modelValue.getAll(this.$graphConfig.tagProp).map(t => this.store.byId(t.getId()));
			return res;
		},
		initLinks() {
			return this.linkOptions.map(prop => {
				return { prop, values: this.modelValue.getAll(prop) }
			}).flatMap(({ prop, values }) => {
				return values.map(e => [prop, e.getId()])
			})
		},
		initIncomingLinks() {
			if (!this.modelValue) return [];
			const id = this.modelValue.getId();
			return this.store.getUserContent().flatMap(n => {
				return this.linkOptions.flatMap(prop => {
					let targets = n.getAll(prop)
					let match = !!targets.find(n => n.getId() === id);
					if (!match) return [];
					return [{ prop, from: n }];
				})
			})
		},
		removeLink(i: number) {
			this.links.splice(i, 1)
		},
		save(close) {
			let doc = Node.createEmpty();
			Object.entries(this.props).forEach(([k, v]) => {
				doc[k] = v;
			})
			doc.setLiteral(this.$graphConfig.labelProp, this.label, 'xsd:string');
			this.links.forEach(([prop, target]) => {
				doc.addLink(prop, target);
			})
			this.tags.forEach(tag => {
				doc.addLink(this.$graphConfig.tagProp, tag.getId())
			})
			doc.setId(this.modelValue.getId())
			doc.setType(this.modelValue.getType())
			if (this.modelValue[this.$graphConfig.created]) {
				doc[this.$graphConfig.created] = this.modelValue[this.$graphConfig.created]
			} else {
				doc.setLiteral(this.$graphConfig.created, new Date().toJSON(), 'xsd:datetime');
			}
			doc.setLiteral(this.$graphConfig.updated, new Date().toJSON(), 'xsd:datetime');
			this.$emit('update:modelValue', doc);
			this.$emit('change');
			this.store.updateNode(doc);
			if (close) {
				this.$router.back();
			}
		},
		reset() {
			this.init();
		},
		remove() {
			this.$router.back();
			this.store.removeNode(this.modelValue.getId());
		}
	}
})
</script>

<template>
	<el-container class="list-entry">
		<el-header>
			<h2>{{ $filters.label(type) }}</h2>
			<toggle-pin-button-vue :id="modelValue.getId()" />
		</el-header>
		<el-container>
			<el-main>
				<el-form-item label="Title">
					<el-input v-model="label" autofocus />
				</el-form-item>
				<node-attribute-vue 
					v-for="attr of attributes"
					:key="attr.getId()"
					v-model="props[attr.getOneNode($graphConfig.attributeTarget).getId()]"
					:attribute="attr"
				/>
				<h3>Links:</h3>
				<ul>
					<li v-for="(link, i) of links"
						:key="i"
					>
						<router-link :to="{ name: 'node', params: { id: links[i][1] }}">
							{{ $filters.label(store.byId(links[i][1])) }}
						</router-link>
						<el-select v-model="links[i][0]">
							<el-option
								v-for="opt of linkOptions"
								:key="opt"
								:value="opt"
								:label="$filters.label(store.byId(opt))"
							/>
						</el-select>
						<el-button @click="removeLink(i)" v-show="canEdit">&times;</el-button>
					</li>
				</ul>
				<select-node-vue
					@select="e => links.push([$graphConfig.link, e.getId()])"
					:blacklist="links.map(e => e[1])"
				/>
				<h3>Tags:</h3>
				<tag-select-vue v-model="tags" />
				<div class="tagList" style="display: inline-block;">
					<el-tag
						v-for="tag of tags"
						:key="tag.getId()"
					>
						{{ $filters.label(tag) }}
					</el-tag>
				</div>
			</el-main>
			<el-aside width="50%">
				<h3>Links here:</h3>
				<ul>
					<li	 v-for="other of incomingLinks"
						:key="other.from.getId()"
					>
						<router-link :to="{ name: 'node', params: { id: other.from.getId() }}">{{ $filters.label(other.from) }}</router-link>
						({{ $filters.label(store.byId(other.prop)) }})
					</li>
				</ul>
			</el-aside>
		</el-container>
		<el-footer>
			<el-button
				@click="save(false)"
				variant="primary"
				v-show="canEdit"
			>
				Save
			</el-button>
			<el-button
				@click="save(true)"
				variant="primary"
				v-show="canEdit"
			>
				Save and close
			</el-button>
			<el-button
				@click="reset"
				variant="secondary"
				v-show="canEdit"
			>
				Reset
			</el-button>
			<el-button
				@click="remove"
				variant="warning"
				v-show="canEdit"
			>
				Delete
			</el-button>
		</el-footer>
	</el-container>
</template>
