<script lang="ts">
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'NodeAttribute',

	props: {
		modelValue: {
			type: Literal,
			required: true
		},
		attribute: {
			type: Node,
			required: true
		}
	},

	data: () => ({
	}),

	computed: {
		inputType(): string {
			let input = this.attribute.getOneNode(this.$graphConfig.input).getId();
			return input.split('/').pop()!;
		},
		required(): boolean {
			return !!this.attribute.getLiteral(this.$graphConfig.required)
		}
	},

	watch: {
		modelValue() {
			this.init();
		}
	},

	created() {
		this.init();
	},

	methods: {
		init() {
			// this.doc = this.modelValue ? JSON.parse(JSON.stringify(this.modelValue)) : { 'nada': 1 }
		}
	}
})
</script>

<template>
	<div>
		<el-form-item :label="$filters.label(attribute)">
			<el-input v-if="inputType === 'textarea'"
				v-model="modelValue['@value']" 
				type="textarea"
			/>
			<el-input v-else-if="inputType === 'textfield'"
				v-model="modelValue['@value']" 
				type="text"
			/>
			<el-input v-else-if="inputType === 'number'"
				v-model="modelValue['@value']" 
				type="number"
			/>
			<span v-else>Unknown type: {{ inputType }}</span>
		</el-form-item>
	</div>
</template>
