<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'NodeLink',

	props: {
		modelValue: {
			type: String,
			required: true
		}
	},

	emits: ['update:modelValue'],

	data: () => ({
		store: useMainStore()
	}),

	computed: {
		options() {
			return this.store.getUserContent()
		}
	},

	methods: {
		update(e) {
			this.$emit('update:modelValue', e)
		}
	}
})
</script>

<template>
	<el-select
		:model-value="modelValue"
		@change="update"
	>
		<el-option
			v-for="opt of options"
			:key="opt['@id']"
			:label="$filters.label(opt)"
			:value="opt['@id']"
		/>
	</el-select>
</template>
