<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Literal, Node } from 'starqld';
import { defineComponent } from 'vue';

type TableRow = {
	key: string,
	value: any
}

export default defineComponent({
	name: 'ViewAttributes',

	props: {
		node: {
			type: Node,
			required: true
		}
	},

	data: () => ({
		store: useMainStore()
	}),

	computed: {
		type() {
			return this.store.byId(this.node.getType())
		},
		attributes(): Node[] {
			return this.type.getAll(this.$graphConfig.hasAttribute)
		},
		attributeTargets(): string[] {
			return this.attributes.map(e => {
				return e.getOneNode(this.$graphConfig.attributeTarget).getId();
			});
		},
		table() {
			let res: TableRow[] = []
			for (let attrib of this.attributes) {
				let target = attrib.getOneNode(this.$graphConfig.attributeTarget);
				let id = target.getId();
				if (!(id in this.node)) {
					// res.push({
					// 	key: this.$filters.label(attrib),
					// 	value: '-'
					// })
				} else {
					let val = this.node[id];
					if (val instanceof Literal) {
						val = val.getValue();
					} else if (val instanceof Node) {
						val = this.$filters.label(val)
					}
					res.push({
						key: this.$filters.label(attrib),
						value: val
					})
				}
			}
			return res;
		}
	},

	watch: {
		node() {
			this.init();
		}
	},

	created() {
		this.init();
	},

	methods: {
		init() {
			// this.doc = this.modelValue ? JSON.parse(JSON.stringify(this.modelValue)) : { 'nada': 1 }
		}
	}
})
</script>

<template>
	<el-table
		class="attribute-table"
		:data="table" 
		v-if="table.length > 0"
		table-layout="auto"
		:show-header="false"
	>
		<el-table-column prop="key" label="Key" />
		<el-table-column prop="value" label="Value" />
	</el-table>
</template>
