<script lang="ts">
import { defineComponent } from 'vue';
import * as FileOps from '@/util/file';

export default defineComponent({
	name: 'MainMenu',

	data: () => ({
		open: false
	}),

	computed: {
		
	},

	methods: {
		async onSelectMenu(key: string) {
			if (key[0] === '/') {
				this.$router.push(key)
				return;
			}
			switch (key) {
				case 'file-reset': {
					await FileOps.init();
					break;
				}

				case 'file-save': {
					await FileOps.save();
					break;
				}
			}
		}
	}
})
</script>

<template>
	
	<el-menu
		:collapse="!open"
		class="menu-vertical"
		@select="onSelectMenu"
		:router="false"
	>
		<el-icon color="#932757" size="50" style="margin: 7px">
			<Lightning />
		</el-icon>
		<el-switch v-model="open" style="padding: 30px 11.3px; vertical-align: top;" />
		<el-divider />
		<el-sub-menu index="1">
			<template #title>
				<el-icon><document /></el-icon>
				<span>File</span>
			</template>
			<el-menu-item-group title="File Operations">
				<el-menu-item index="file-reset">Reset</el-menu-item>
				<el-menu-item index="/load">Load</el-menu-item>
				<el-menu-item index="file-save">Save</el-menu-item>
			</el-menu-item-group>
		</el-sub-menu>

		<el-sub-menu index="2">
			<template #title>
				<el-icon><DataBoard /></el-icon>
				<span>Lenses</span>
			</template>
			<el-menu-item-group title="Lenses">
				<el-menu-item index="/" >Home</el-menu-item>
				<el-menu-item index="/nodelist" >List Content</el-menu-item>
				<el-menu-item :index="'/entitylist?type='+$graphConfig.typeRoot" >List Types</el-menu-item>
				<el-menu-item :index="'/entitylist?type='+$graphConfig.userAttributeRoot" >List Attributes</el-menu-item>
				<el-menu-item :index="'/entitylist?type='+$graphConfig.tagRoot" >List Tags</el-menu-item>
				<el-menu-item :index="'/entitylist?type='+$graphConfig.linkRoot" >List Links</el-menu-item>
			</el-menu-item-group>
		</el-sub-menu>
	</el-menu>
</template>

<style>
.menu-vertical {
	min-height: 100vh;
}
.menu-vertical:not(.el-menu--collapse) {
	width: 200px;
}
</style>
