<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'AttributeForm',

	props: {
		modelValue: {
			type: Node,
			required: true
		}
	},

	emits: ['update:modelValue'],

	data: () => ({
		store: useMainStore(),
		label: '',
		attributeTarget: '',
		input: '',
		propPrefix: 'http://a.cryptic.link/owl/prop/',
		required: false
	}),

	computed: {
		tags() {
			return this.store.byType(this.$graphConfig.tagRoot)
		},
		inputOptions() {
			return [
				{
					id: this.$graphConfig.inputTextField,
					label: 'Text Field'
				},
				{
					id: this.$graphConfig.inputTextArea,
					label: 'Text Area'
				},
				{
					id: this.$graphConfig.inputNumber,
					label: 'Number Field'
				},
				{
					id: this.$graphConfig.inputCheckbox,
					label: 'Checkbox'
				}
			]
		},
		valueType() {
			switch (this.input) {
				default: {
					return 'xsd:string'
				}
				case this.$graphConfig.inputNumber: {
					return 'xsd:float'
				}
				case this.$graphConfig.inputCheckbox: {
					return 'xsd:boolean'
				}
			}
		}
	},

	created() {
		this.init()
	},

	methods: {
		init() {
			this.label = this.modelValue.getLiteral(this.$graphConfig.labelProp)
			this.required = this.modelValue.getLiteral(this.$graphConfig.required)
			let t = this.modelValue.getOne(this.$graphConfig.input);
			this.input = t instanceof Node ? t.getId() : ''
			let a = this.modelValue.getOne(this.$graphConfig.attributeTarget);
			this.attributeTarget = a instanceof Node ? a.getId().substring(this.propPrefix.length) : ''
			// let v = this.modelValue.getOne(this.$graphConfig.valueType);
			// this.valueType = v instanceof Node ? v.getId() : ''

		},
		save() {
			let doc = Node.createEmpty();
			doc.setId(this.modelValue.getId())
			doc.setType(this.modelValue.getType())
			doc.setLiteral(this.$graphConfig.labelProp, this.label, 'xsd:string')
			doc.setLiteral(this.$graphConfig.required, this.required, 'xsd:boolean')
			doc.setLink(this.$graphConfig.input, this.input);
			doc.setLink(this.$graphConfig.attributeTarget, this.propPrefix+this.attributeTarget);
			doc.setLink(this.$graphConfig.valueType, this.valueType);
			this.$emit('update:modelValue', doc);
		},
		remove() {
			this.$router.back();
			this.store.removeNode(this.modelValue.getId());
		}
	}
})
</script>

<template>
	<el-form-item label="Name">
		<el-input v-model="label" />
	</el-form-item>
	<el-form-item label="Attribute Target">
		<el-input v-model="attributeTarget">
			<template #prepend>{{  propPrefix }}</template>
		</el-input>

	</el-form-item>
	<el-form-item label="Input">
		<el-select v-model="input">
			<el-option
				v-for="opt of inputOptions"
				:key="opt.id"
				:label="opt.label"
				:value="opt.id"
			/>
		</el-select>
		({{ valueType }})
	</el-form-item>
	<el-form-item label="Required">
		<el-checkbox v-model="required" />
	</el-form-item>
	<el-button @click="save" variant="primary">
		Save
	</el-button>
	<el-button
		@click="remove"
		variant="warning"
	>
		Delete
	</el-button>
</template>

<style>

</style>
