<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Collection, Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'LinkForm',

	props: {
		modelValue: {
			type: Node,
			required: true
		}
	},

	emits: ['update:modelValue'],

	data: () => ({
		store: useMainStore(),
		label: ''
	}),

	computed: {
		attributeOptions(): Node[] {
			return this.store.byType(this.$graphConfig.userAttributeRoot)
		}
	},

	created() {
		this.init()
	},

	methods: {
		init() {
			this.label = this.modelValue.getLiteral(this.$graphConfig.labelProp)

		},
		save() {
			let doc = Node.createEmpty();
			doc.setId(this.modelValue.getId())
			doc.setType(this.modelValue.getType())
			doc.setLiteral(this.$graphConfig.labelProp, this.label, 'xsd:string')
			this.$emit('update:modelValue', doc);
		},
		remove() {
			this.$router.back();
			this.store.removeNode(this.modelValue.getId());
		}
	}
})
</script>

<template>
	<el-form-item label="Name">
		<el-input v-model="label" />
	</el-form-item>
	<el-button @click="save" variant="primary">
		Save
	</el-button>
	<el-button
		@click="remove"
		variant="warning"
	>
		Delete
	</el-button>
</template>

<style>

</style>
