<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'AttributeForm',

	props: {
		modelValue: {
			type: Node,
			required: true
		}
	},

	emits: ['update:modelValue'],

	data: () => ({
		selectable: true,
		label: '',
		color: '',
		parent: '',
		store: useMainStore()
	}),

	computed: {
		tags() {
			return this.store.byType(this.$graphConfig.tagRoot)
		}
	},

	created() {
		this.init()
	},

	methods: {
		init() {
			this.selectable = this.modelValue.getLiteral(this.$graphConfig.selectable)
			this.label = this.modelValue.getLiteral(this.$graphConfig.labelProp)
			this.color = this.modelValue.getLiteral(this.$graphConfig.color)
			let p = this.modelValue.getOne(this.$graphConfig.parent);
			this.parent = p instanceof Node ? p.getId() : ''
		},
		save() {
			let doc = Node.createEmpty();
			doc.setId(this.modelValue.getId())
			doc.setType(this.modelValue.getType())
			doc.setLiteral(this.$graphConfig.labelProp, this.label, 'xsd:string')
			doc.setLiteral(this.$graphConfig.selectable, this.selectable, 'xsd:boolean')
			if (this.color) doc.setLiteral(this.$graphConfig.color, this.color, 'xsd:string')
			if (this.parent) doc[this.$graphConfig.parent] = doc.getGraph().addNewNodeWithId(this.parent)
			this.$emit('update:modelValue', doc);
		},
		remove() {
			this.$router.back();
			this.store.removeNode(this.modelValue.getId());
		}
	}
})
</script>

<template>
	<el-form-item label="Name">
		<el-input v-model="label" />
	</el-form-item>
	<el-form-item label="Color">
		<el-color-picker v-model="color" />
	</el-form-item>
	<el-form-item label="Selectable">
		<el-checkbox v-model="selectable" />
	</el-form-item>
	<el-form-item label="Parent">
		<el-select v-model="parent" clearable>
			<el-option
				v-for="tag of tags"
				:key="tag.getId()"
				:label="$filters.label(tag)"
				:value="tag.getId()"
			/>
		</el-select>
	</el-form-item>
	<el-button @click="save" variant="primary">Save</el-button>
	<el-button
		@click="remove"
		variant="warning"
	>
		Delete
	</el-button>
</template>

<style>

</style>
