<script lang="ts">
import { useMainStore } from '@/stores/document';
import { Collection, Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'TypeForm',

	props: {
		modelValue: {
			type: Node,
			required: true
		}
	},

	emits: ['update:modelValue'],

	data: () => ({
		store: useMainStore(),
		label: '',
		active: true,
		hasAttribute: [] as string[]
	}),

	computed: {
		attributeOptions(): Node[] {
			return this.store.byType(this.$graphConfig.userAttributeRoot)
		}
	},

	created() {
		this.init()
	},

	methods: {
		init() {
			this.label = this.modelValue.getLiteral(this.$graphConfig.labelProp)
			this.active = this.modelValue.getLiteral(this.$graphConfig.active) || false
			let t = this.modelValue.getAll(this.$graphConfig.hasAttribute);
			this.hasAttribute = t instanceof Collection ? t.map(e => e.getId()) : []

		},
		save() {
			let doc = Node.createEmpty();
			doc.setId(this.modelValue.getId())
			doc.setType(this.modelValue.getType())
			doc.setLiteral(this.$graphConfig.labelProp, this.label, 'xsd:string')
			doc.setLiteral(this.$graphConfig.active, this.active, 'xsd:boolean')
			this.hasAttribute.forEach(id => {
				doc.addLink(this.$graphConfig.hasAttribute, id);
			})
			this.$emit('update:modelValue', doc);
		},
		remove() {
			this.$router.back();
			this.store.removeNode(this.modelValue.getId());
		}
	}
})
</script>

<template>
	<el-form-item label="Name">
		<el-input v-model="label" />
	</el-form-item>
	<el-form-item label="Input">
		<el-select v-model="hasAttribute" multiple>
			<el-option
				v-for="opt of attributeOptions"
				:key="opt.getId()"
				:label="$filters.label(opt)"
				:value="opt.getId()"
			/>
		</el-select>
	</el-form-item>
	<el-form-item label="Active">
		<el-checkbox v-model="active" />
	</el-form-item>
	<el-button @click="save" variant="primary">
		Save
	</el-button>
	<el-button
		@click="remove"
		variant="warning"
	>
		Delete
	</el-button>
</template>

<style>

</style>
