<script lang="ts">
import { useMainStore } from '@/stores/document';
import { usePinStore } from '@/stores/pinlist';
import type { Node } from 'starqld';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PinList',

	props: {
		select: {
			type: Boolean,
			default: () => false
		},
		goto: {
			type: Boolean,
			default: () => false
		},
		blacklist: {
			type: Array,
			default: () => []
		}
	},

	emits: ['select', 'goto'],

	data: () => ({
		docStore: useMainStore(),
		pinStore: usePinStore()
	}),

	computed: {
		pinnedDocs() {
			return this.pinStore.pinned.map(id => this.docStore.byId(id))
		},
		lastViewedDocs() {
			return this.pinStore.lastViewed
				.reverse()
				.map(id => this.docStore.byId(id))
		},
		lastSavedDocs() {
			return this.pinStore.lastSaved
				.reverse()
				.map(id => this.docStore.byId(id))
		},
		allOptions() {
			return this.docStore.getUserContent()
		}
	},

	methods: {
		go(node: Node) {
			
		},
		isBlacklisted(node: Node) {
			return this.blacklist.includes(node.getId())
		}
	}
})
</script>

<template>
	<div class="pinListOptions">
		<div v-if="pinnedDocs.length > 0">
			<h3>Pinned</h3>
			<ul>
				<li v-for="node of pinnedDocs"
					:key="node.getId()"
				>
					{{ $filters.label(node) }}

					<el-icon
						v-if="select && !isBlacklisted(node)"
						@click="$emit('select', node)"
					>
						<DocumentAdd/>
					</el-icon>
					<el-icon 
						v-if="goto"
						@click="go(node)"
					>
						<Pointer/>
					</el-icon>
				</li>
			</ul>
		</div>
		<div v-if="lastViewedDocs.length > 0">
			<h3>Last Viewed</h3>
			<ul>
				<li v-for="node of lastViewedDocs"
					:key="node.getId()"
				>
					{{ $filters.label(node) }}
					<el-icon
						v-if="select && !isBlacklisted(node)"
						@click="$emit('select', node)"
					>
						<DocumentAdd/>
					</el-icon>
					<el-icon 
						v-if="goto"
						@click="go(node)"
					>
						<Pointer/>
					</el-icon>
				</li>
			</ul>
		</div>
		<div v-if="lastSavedDocs.length > 0">
			<h3>Last Saved</h3>
			<ul>
				<li v-for="node of lastSavedDocs"
					:key="node.getId()"
				>
					{{ $filters.label(node) }}
					<el-icon
						v-if="select && !isBlacklisted(node)"
						@click="$emit('select', node)"
					>
						<DocumentAdd/>
					</el-icon>
					<el-icon 
						v-if="goto"
						@click="go(node)"
					>
						<Pointer/>
					</el-icon>
				</li>
			</ul>
		</div>
		<div>
			<h3>All</h3>
			<el-select
				v-if="select"
				@change="e => $emit('select', e)"
			>
				<el-option
					v-for="opt of allOptions"
					:key="opt['@id']"
					:label="$filters.label(opt)"
					:value="opt"
				/>
			</el-select>
		</div>
	</div>
</template>
