<script lang="ts">
import { useMainStore } from '@/stores/document';
import { usePinStore } from '@/stores/pinlist';
import type { Node } from 'starqld';
import { defineComponent } from 'vue';
import pinListVue from './pin-list.vue';

export default defineComponent({
	name: 'SelectNode',

	components: {
		pinListVue
	},

	props: {
		blacklist: {
			type: Array,
			default: () => []
		}
	},

	emits: ['select'],

	data: () => ({
		docStore: useMainStore(),
		pinStore: usePinStore(),
		open: false
	}),

	computed: {
		
	},

	methods: {
		onSelect(e) {
			this.open = false;
			this.$emit('select', e);
		}
	}
})
</script>

<template>
	<el-button @click="open = true">
		+
	</el-button>
	<el-dialog
		v-model="open"
		title="Select Node"
	>
		<pin-list-vue
			:select="true"
			@select="onSelect"
			:blacklist="blacklist"
		/>
	</el-dialog>
</template>
