<script lang="ts">
import { usePinStore } from '@/stores/pinlist';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'TogglePin',

	components: {
	},

	props: {
		id: {
			type: String,
			required: true
		}
	},

	emits: ['change'],

	data: () => ({
		pinStore: usePinStore(),
		open: false
	}),

	computed: {
		pinned() {
			return this.pinStore.pinned.includes(this.id);
		}
	},

	methods: {
		onChange() {
			this.pinStore.setPin(this.id, !this.pinned);
		}
	}
})
</script>

<template>
	<el-button @click="onChange">
		<el-icon>
			<Plus v-show="!pinned" />
			<Minus v-show="pinned" />
		</el-icon>
	</el-button>
</template>
