@import 'element-plus/theme-chalk/dark/css-vars.css';
@import './base.less';

#app {
	margin: 0 auto;
	padding: 0;
	font-weight: normal;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}


#DragCanvas {
	position: relative;
	width: 100%;
	height: 100vh;
}

pre {
    font-size: 12px;
}

.list-entry {
	border-top: 1px solid #aae;
}

.el-page-header {
	margin-top: 1em;
	margin-bottom: 2em;
}

.pinListOptions {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	> div {
		min-width: 160px;
		margin-right: 1em;
	}
}

#app {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	> nav {
		flex-shrink: 0;
		flex-grow: 0;
	}
	> main {
		padding: 0 2em;
		flex-grow: 1;
	}
}

body {
	background-color: #12131e;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(234, 19%, 15%, 1)'/><path d='M14.499 11.82L4.36 5.968l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.029l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.117L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-linecap='square' stroke-width='1' stroke='hsla(239, 35%, 9%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-116,-128.46)' fill='url(%23a)'/></svg>")
}

h1 {
	color: var(--el-color-primary);
}

.tagList {
	> span {
		border: 1px solid #666;
		border-radius: 4px;
		margin: 0 4px;
		padding: 2px;
	}
}

.attribute-table {
	.cell {
		word-break: keep-all;
	}
}

.node-card {
	.el-card__body {
		max-height: 200px;
		overflow-y: auto;
	}
}
