<script lang="ts">
import { RouterView } from 'vue-router'
import { defineComponent } from 'vue';
import MainMenu from '@/components/main-menu.vue';

export default defineComponent({
	name: 'App',

	components: {
		MainMenu
	},

})
</script>

<template>
	<nav>
		<main-menu />
	</nav>
	<main>
		<RouterView />
	</main>
</template>
